header{
    background-image: linear-gradient(to right, #7200F5, #1998ff);
}
input:focus{
    border: 2px solid #7200F5;
    outline: 0;
    box-shadow:none
}
select:focus{
    border: 2px solid #7200F5;
    outline: 0;
    box-shadow:none
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
	flex-direction: row;
	justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right,#7200F5, #078FFF);
}
.btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #7200F5, #078FFF);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.btn:hover{
	background-position: right;
}
.form{
    width: 50%;
    height: 90vh;
    background-color: #fff;
    display: flex;
	flex-direction: row;
	justify-content: center;
    align-items: center;
    border-radius: 25px;
    padding: 25px;
}
.title{
    margin-bottom: 40px;
}

@media screen and (max-width: 767px){
    .form{
        width: 70%;
        height: 100vh;
    }
    .container{
        height: 140vh;
    }
}