<header>
    <div class="container">
        <div class="login-content">
            <form action="index.html">
                <img src="../assets/logo.png">
                <h3 class="title">Faça seu login</h3>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <input [(ngModel)]="user.name" [ngModelOptions]="{standalone: true}" type="text" class="input"
                            placeholder="Nome">
                    </div>
                </div>
                <div class=" input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <input [(ngModel)]="user.cpf" [ngModelOptions]="{standalone: true}" type="password"
                            class="input" placeholder="Cpf">
                    </div>
                </div>
                <a routerLink='/cadastro'>Ainda não tem conta?</a>
                <input type="submit" class="btn" value="Login" name="action" (click)="login()">
            </form>
        </div>
    </div>
</header>